

.btn{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: var(--border-radius);
    /* font-size: 20px; */

}
a{
    text-decoration: none;
}

.nav-btn{
    width: 40px;
    height:40px;
}